:root {
   --header-line-height: 3rem;
   --main-color: #1D84B5;
   --background: rgba(255, 255, 255, 0.29);
   --background-dark: #b1b1b14a;
   --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   --link: #DC602E;
}


html[data-theme='light'] {
   --bg-color: white;
   --text-color: rgb(54, 54, 54);
   --header-line-color: #1D84B5;
   --header-line-color-second: #1D84B5;
   --bg-table: #e2e8f0;
   --bg-table-secod: rgba(255, 255, 255, 0.8);
   --table-padding: none;
   --table-color-second: rgb(106, 139, 179);
   --tool-tip-bg: #98cbe2;
}

html[data-theme='dark'] {
   --bg-color: #171717;
   --text-color: white;
   --header-line-color: #171717;
   --header-line-color-second: #292929;
   --bg-table: #ababab;
   --bg-table-secod: rgba(17, 17, 17, 0.8);
   --table-padding: 2px;
   --table-color-second: rgb(93, 93, 93);
   --tool-tip-bg: #171717;
}